
@import url('./layouts/fonts.css');
@import url('./layouts/normalize.css');
@import url('./layouts/base.css');
@import url('./layouts/media.css');

@import url('./blocks/hero.css');
@import url('./blocks/header.css');
@import url('./blocks/first-screen.css');
@import url('./blocks/features.css');
@import url('./blocks/description.css');
@import url('./blocks/reviews.css');
@import url('./blocks/circle-nav.css');
@import url('./blocks/contacts.css');
@import url('./blocks/deliver.css');
@import url('./blocks/menu-accord.css');
@import url('./blocks/team.css');
@import url('./blocks/bars.css');
@import url('./blocks/mobile-menu.css');


@mixin tablets {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:480px){
        @content;
    }
}

@mixin decor($width, $height) {
    width: $width;
    height: $height;
    content: "";
    display: block;
    position: absolute;
}



.error{
    color: red;
    font-size: 1.5rem;
}

.modal-form{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    z-index: 20;
    display: none;
}

.modal-form__field{
    width: 27%;
    height: 170px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-form__text{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    color: black;
}

.modal-form__btn{
    background-color: #365a49;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
    &:hover{
        background-color: #fff;
        color: #365a49;
        border: 1px solid #365a49;
    }
}

