
@mixin tablets {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:480px){
        @content;
    }
}

.circle-nav{
    position: absolute;
    right: 3.3rem;
    top: 50%;
    transform: translateY(-50%);

    @include tablets{
        display: none;
    }

    @include phones{
        display: none;
    }
}

.circle-nav__list{
    display: flex;
    flex-direction: column;
}

.circle-nav__item{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: teal;
    margin-bottom: 1.2rem;
    position: relative;

    &:last-child{
        margin-bottom: 0;
    }

    &:before{
        content: "";
        display: none;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid teal;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
    }
}

/*
.circle-nav__item--active:before{
    display: block;
    @extend .circle-nav__item:before

}


.circle-nav__item:hover:before{
    @extend .circle-nav__item--active:before
}
*/