
@mixin decor($width, $height) {
    width: $width;
    height: $height;
    content: "";
    display: block;
    position: absolute;
}


@mixin tablets {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:480px){
        @content;
    }
}

.header{
    padding-top: 24px;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
    position: relative;

    .nav__item{
        margin-right: 2.5rem;

        &:last-child{
            margin-right: 0;
        }

    }
   
}

.nav__item a{
    color: #fff;
}

.nav__item a:hover{
    color: #2e4e3f;
}

.contacts-head{
    font-size: 2rem;

    a{
        color: #fff;
        &::before{
            content: "";
            display: inline-block;
            background: url(../images/phone.png);
            width: 12px;
            height: 11px;
            margin-right: 6px;
        }

    }
}


.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablets{
        display: none;
    }

}

.nav{
    margin-right: 1.6rem;

}

.header__humburger a{
    display: none;
    background: url(../images/humburger.png) no-repeat;
    width: 24px;
    height: 22px;

    @include tablets{
        display: block;     
    }
}

.header__humburger a:hover{

    @include tablets{
        cursor: pointer;
    }
    
}
