@mixin tablets {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:480px){
        @content;
    }
}

@mixin decor($width, $height) {
    width: $width;
    height: $height;
    content: "";
    display: block;
    position: absolute;
}

.video{
    position: relative;
    background-color: #f8faf9;

    &::after{
        @include decor(196px, 264px);
        background: url(../../images/video-leaf3.png) no-repeat;
        right: 0px;
        top: 676px;
        z-index: 7;
    }
}

.video-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .section__title{
        margin-bottom: 4rem;
    }
}


.player{
    background-color: teal;
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 406px;
    position: relative;

    &::before{
        @include decor(100px, 75px);
        background: url(../../images/video-leaf1.png) no-repeat;
        right: -105px;
        top: -70px;
    }

    &::after{
        @include decor(75px, 135px);
        background: url(../../images/video-leaf2.png) no-repeat;
        left: -125px;
        top: 310px;
    }
}


.player__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.player__elem{
    width: 100%;
    height: 100%;
}

.player__splash{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}

.active .player__splash{
    display: none;
}

.player__controls{
    display: flex;
    flex-direction: row;
    background-color: #404040;
    align-items: center;
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.player__playback{
    display: flex;
    align-items: center;
}


.player__start{
    width: 55px;
    height: 100%;
    border: none;
    background: url(../../images/playstart.png) no-repeat;
    background-position: center;
    margin-right: 10px;
}

.player--paused{
    background: red;
}

.player__start:hover{
    cursor: pointer;
}

.player__playback{
    width: 68%;
    position: relative;
    margin-right: 15px;

    &::before{
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        display: block;
        background: url(../../images/video-stick.png) no-repeat;
    }
}

.player__playback-button{
    background: #626262;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
}

.player__volume{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 19%;
}

.volume__pic{
    width: 40px;
    height: 20px;
    border: none;
    background: url(../../images/volume.png) no-repeat;
    background-position: center;
    margin-right: 10px;
}

.volume__playback{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;

    &::before{
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        display: block;
        background: url(../../images/volume-stick.png) no-repeat;
    }
}

.volume__playback-button{
    background: #626262;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;

}