.description__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 6.6rem;
}
.description__item:last-child {
  margin-right: 0;
}
.description__item-img {
  background-color: #f3f5f3;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.7rem;
}
.description__item-text {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #666666;
}

.description__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description__item-img--have-circles {
  position: relative;
}
.description__item-img--have-circles:before {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 21px;
  background: url(../../images/circles1.png) no-repeat;
  top: 50%;
  left: -11.3rem;
  transform: translateY(-50%);
}
.description__item-img--have-circles:after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 21px;
  background: url(../../images/circles1.png) no-repeat;
  top: 50%;
  right: -11.3rem;
  transform: translateY(-50%);
}