.description__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 6.6rem;
}
.description__item:last-child {
  margin-right: 0;
}
.description__item-img {
  background-color: #f3f5f3;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.6rem;
  flex-shrink: 0;
}
@media screen and (max-width: 480px) {
  .description__item-img {
    margin-bottom: 0;
    margin-right: 1.6rem;
  }
}
.description__item-text {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .description__item {
    flex-direction: row;
    text-align: start;
    margin-bottom: 3.3rem;
    margin-right: 0;
  }
}

.description__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .description__list {
    flex-direction: column;
  }
}

.description__item-img--have-circles {
  position: relative;
}
.description__item-img--have-circles:before {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 21px;
  background: url(../../images/circles1.png) no-repeat;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  .description__item-img--have-circles:before {
    display: none;
  }
}
.description__item-img--have-circles:after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 21px;
  background: url(../../images/circles1.png) no-repeat;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  .description__item-img--have-circles:after {
    display: none;
  }
}