
.description__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 80px;

    &:last-child{
        margin-right: 0;
    }
    

    &-img{
        background-color: #f3f5f3;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 33px;
    }


    &-text{
        font-size: 16px;
        font-weight: lighter;
        color: #666666;
    }
}



.description__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description__item-img--have-circles{
    position: relative;

    &:before{
        content: "";
        display: block;
        position: absolute;
        width: 67px;
        height: 21px;
        background: url(../../images/circles1.png) no-repeat;
        top: 50%;
        left: -136px;
        transform: translateY(-50%);
    }

    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 67px;
        height: 21px;
        background: url(../../images/circles1.png) no-repeat;
        top: 50%;
        right: -136px;
        transform: translateY(-50%);
    }
}


