.features {
  background: url(../../images/iconBgLeaf.png) no-repeat;
  background-position: center left;
  position: relative;
}
.features__text {
  font-size: 18px;
  color: #656565;
  width: 550px;
  margin: 0 auto 54px;
}
.features:after {
  content: "";
  display: block;
  width: 160px;
  height: 315px;
  background: url(../../images/raspberry.png) no-repeat;
  position: absolute;
  bottom: -50px;
  left: 0;
}

.features-container {
  text-align: center;
}