
.first-screen{
    &__content{
        width: 400px;
        padding-top: 100px;
    }
    
    &__title{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 22px;
    }

    &__text{
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 32px;
    }

    &__btn{
        background-color: #fff;
        color: #355a49;
        margin-bottom: 68px;
    }

}

.first-screen__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}


.first-screen__img{
    width: 480px;

    img{
        max-width: 100%;
    }
}


@mixin decor($width, $height) {
    width: $width;
    height: $height;
    content: "";
    display: block;
    position: absolute;
}

.first-screen__right{
    position: relative;

    &::after{
        @include decor(226px, 206px);
        background: url(../../images/leaf1.png);
        bottom: 100px;
        right: -12px;
    }

    &::before{      
        @include decor(150px, 106px);
        background: url(../../images/leaf2.png) no-repeat;
        bottom: -115px;
        right: 245px;
    }
}


.first-screen__left{
    position: relative;

    &::after{
        @include decor(65px, 113px);
        background: url(../../images/leaf3.png) no-repeat;
        bottom: -134px;
        left:  -30px;
    }

    &::before{
        @include decor(226px, 210px);
        background: url(../../images/berries1.png) no-repeat;
        bottom: 15px;
        right:  -272px;
    }
}



.first-screen__container::after{
    @include decor(126px, 110px);
    background: url(../../images/berries2.png) no-repeat;
    bottom: -130px;
    right: 5px;
}

.desc-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 140px;
        margin-right: 44px;

        &:last-child{
            margin-right: 0;
        }
    }

    &__item-img{
        margin-right: 10px;
    }

    &__item-text{
        font-size: 16px;
        
    }
}