.first-screen {
  position: relative;
}
.first-screen__content {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .first-screen__content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
.first-screen__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 480px) {
  .first-screen__title {
    font-size: 3.7rem;
  }
}
.first-screen__text {
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .first-screen__text {
    margin: 0 auto 2.5rem;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__text {
    width: 72%;
  }
}
.first-screen__btn {
  background-color: #fff;
  color: #355a49;
}
@media screen and (max-width: 768px) {
  .first-screen__btn {
    margin-bottom: 0;
  }
}
.first-screen__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .first-screen__wrapper {
    flex-direction: column-reverse;
  }
}
.first-screen__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-bottom: 3.3rem;
}
.first-screen__img {
  width: 480px;
}
.first-screen__img img {
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .first-screen__img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .first-screen__img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .first-screen__desc {
    display: none;
  }
}

.first-screen__right {
  position: relative;
}
.first-screen__right::after {
  width: 226px;
  height: 206px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/leaf1.png) no-repeat;
  background-size: contain;
  bottom: 3.6rem;
  right: -1rem;
}
@media screen and (max-width: 768px) {
  .first-screen__right::after {
    width: 151px;
    height: 139px;
    bottom: 5.9rem;
    right: 11.8rem;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__right::after {
    bottom: 5.9rem;
    right: 2.3rem;
  }
}
.first-screen__right::before {
  width: 150px;
  height: 106px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/leaf2.png) no-repeat;
  bottom: -12.5rem;
  right: 18.6rem;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .first-screen__right::before {
    width: 95px;
    height: 75px;
    bottom: -1.5rem;
    right: 22.5rem;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__right::before {
    bottom: 0;
    right: 11.4rem;
  }
}

.first-screen__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.first-screen__left::after {
  width: 65px;
  height: 113px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/leaf3.png) no-repeat;
  bottom: -14.1rem;
  left: -2.5rem;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .first-screen__left::after {
    width: 38px;
    height: 73px;
    top: -16.5rem;
    left: 12.8rem;
    z-index: 3;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__left::after {
    top: -14.3rem;
    left: 5.3rem;
  }
}
.first-screen__left::before {
  width: 226px;
  height: 210px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/berries1.png) no-repeat;
  bottom: 0;
  right: -27.5rem;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .first-screen__left::before {
    width: 179px;
    height: 185px;
    top: -19.5rem;
    left: 13.5rem;
    z-index: 2;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__left::before {
    top: -15rem;
    left: 7rem;
  }
}

.first-screen__container::after {
  width: 126px;
  height: 110px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/berries2.png) no-repeat;
  bottom: -4.3rem;
  right: 0.4rem;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .first-screen__container::after {
    width: 75px;
    height: 71px;
    bottom: 32.7rem;
    right: 15rem;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__container::after {
    bottom: 32.2rem;
    right: 4rem;
  }
}

.desc-list {
  display: flex;
  flex-direction: row;
}
.desc-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 11.6rem;
  margin-right: 3.5rem;
}
.desc-list__item:last-child {
  margin-right: 0;
}
.desc-list__item-img {
  margin-right: 0.8rem;
}
.desc-list__item-text {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .first-screen__img img {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .first-screen__img img {
    width: 100%;
  }
}

.first-screen__icon {
  margin-right: 0.8rem;
}
.first-screen__icon:last-child {
  margin-right: 0;
}