
@mixin tablets {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:480px){
        @content;
    }
}

.header{
    padding-top: 24px;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;

    .nav__item{
        margin-right: 2.5rem;

        &:last-child{
            margin-right: 0;
        }

        @include tablets{
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }

    @include tablets{
        flex-direction: column;
        text-align: center;
    }
   
}

.nav__item a{
    color: #fff;
}

.nav__item a:hover{
    color: #2e4e3f;
}

.contacts-head{
    font-size: 2rem;

    a{
        color: #fff;
        &::before{
            content: "";
            display: inline-block;
            background: url(../../images/phone.png);
            width: 12px;
            height: 11px;
            margin-right: 6px;
        }

    }

    @include tablets{
        margin-bottom: 2rem;
    }
}


.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablets{
        display: none;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 50%;
        height: 100vh;
        background: #386d86;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        opacity: 0.9;
        border-radius: 3px;
        padding-top: 3rem;
    }

    @include phones{
        width: 100%;
    }

}

.nav{
    margin-right: 1.6rem;

    @include tablets{
        margin-right: 0;
    }
}

.header__humburger{
    z-index: 20;
}

.header__humburger a{
    display: none;
    background: url(../../images/humburger.png) no-repeat;
    width: 24px;
    height: 22px;

    @include tablets{
        display: block;     
    }
}

.header__humburger a:hover{

    @include tablets{
        cursor: pointer;
    }
    
}