.header {
  padding-top: 24px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
}
.nav__list .nav__item {
  margin-right: 2.5rem;
}
.nav__list .nav__item:last-child {
  margin-right: 0;
}

.contacts {
  font-size: 2rem;
}
.contacts a {
  color: #fff;
}
.contacts a::before {
  content: "";
  display: inline-block;
  background: url(../../images/phone.png);
  width: 12px;
  height: 11px;
  margin-right: 6px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.nav {
  margin-right: 1.6rem;
}

.header__humburger {
  display: none;
  background: url(../../images/humburger.png) no-repeat;
  width: 24px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .header__humburger {
    display: block;
  }
}