
.header{
    padding: 24px 0;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;

    .nav__item{
        margin-right: 30px;

        &:last-child{
            margin-right: 0;
        }
    }
   
}

.contacts{
    font-size: 24px;

    a{
        color: #fff;
        &::before{
            content: "";
            display: inline-block;
            background: url(../../images/phone.png);
            width: 25px;
            height: 25px;
        }
    }
}