.header {
  padding-top: 24px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}
.nav__list .nav__item {
  margin-right: 30px;
}
.nav__list .nav__item:last-child {
  margin-right: 0;
}

.contacts {
  font-size: 24px;
}
.contacts a {
  color: #fff;
}
.contacts a::before {
  content: "";
  display: inline-block;
  background: url(../../images/phone.png);
  width: 12px;
  height: 11px;
  margin-right: 6px;
}