
.header{
    padding-top: 2rem;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;

    .nav__item{
        margin-right: 2.5rem;

        &:last-child{
            margin-right: 0;
        }
    }
   
}

.contacts{
    font-size: 2rem;

    a{
        color: #fff;
        &::before{
            content: "";
            display: inline-block;
            background: url(../../images/phone.png);
            width: 12px;
            height: 11px;
            margin-right: 6px;
        }
    }
}