
@mixin decor($width, $height) {
    width: $width;
    height: $height;
    content: "";
    display: block;
    position: absolute;
}

.reviews{
    position: relative;
    /*background: url(../../images/iconBgLeaf2.png) no-repeat;
    background-position: left bottom;*/

    .section__title{
        margin-bottom: 3.6rem;
    }

    &__main{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4.1rem 3.7rem 2.8rem;
        background: url(../../images/reviews-main.png) no-repeat;
        position: relative;
        margin-bottom: 2.3rem;

        &:before{
            @include decor(80px, 50px);
            border-radius: 50%;
            background-color: #fff;
            z-index: 7;
            left: 50%;
            top: -2rem;
            transform: translateX(-50%);
        }

        &:after{
            @include decor(146px, 86px);
            background: url(../../images/berries3.png) no-repeat;
            top: -12rem;
            right: -5rem;
        }
    }

    &:after{
        @include decor(95px, 286px);
        background: url(../../images/iconBgLeaf2.png) no-repeat;
        bottom: -2.6rem;
        left: 0;
        z-index: -5;
    }
}


.reviews__img{
    width: 254px;
    height: 260px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.reviews__content{
    width: 510px;
    display: flex;
    flex-direction: column;

    &-text{
        font-size: 1.5rem;
        color: #666666;
        margin-bottom: 2.5rem;
    }

    &-author{
        font-size: 1.5rem;
        font-weight: medium;
    }
}


.reviews__switch{
    position: relative;

    &:before{
        @include decor(134px, 194px);
        background: url(../../images/berries4.png) no-repeat;
        bottom: -11.3rem;
        left: -5.4rem;
    }
}


.reviews__switch-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviews__switch-item{
    margin-right: 1rem;

    &:last-child{
        margin-right: 0;
    }
}

.reviews__switch-item-link{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__switch-item--active{
    @extend .reviews__switch-item-link;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #365a49;
    border: 6px solid #365a49;
}