.reviews {
  position: relative;
  /*background: url(../../images/iconBgLeaf2.png) no-repeat;
  background-position: left bottom;*/
}
.reviews .section__title {
  margin-bottom: 3.5rem;
}
.reviews__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 3.6rem 2.7rem;
  background: url(../../images/reviews-main.png) no-repeat;
  position: relative;
  margin-bottom: 2.2rem;
  background-position: center;
  z-index: -7;
}
.reviews__main:before {
  width: 80px;
  height: 50px;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  z-index: 7;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
}
.reviews__main:after {
  width: 146px;
  height: 86px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/berries3.png) no-repeat;
  top: 0;
  right: -5rem;
}
@media screen and (max-width: 768px) {
  .reviews__main {
    background-size: cover;
    flex-direction: column;
    text-align: center;
  }
}
.reviews:after {
  width: 95px;
  height: 286px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/iconBgLeaf2.png) no-repeat;
  bottom: -2.5rem;
  left: 0;
  z-index: -5;
}

.reviews__img {
  width: 254px;
  height: 260px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__img {
    width: 130px;
    height: 130px;
    margin-bottom: 3.3rem;
  }
}

.reviews__content {
  width: 59%;
  display: flex;
  flex-direction: column;
}
.reviews__content-text {
  font-size: 1.5rem;
  color: #666666;
  margin-bottom: 2.5rem;
}
.reviews__content-author {
  font-size: 1.5rem;
  font-weight: medium;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    width: 100%;
  }
}

.reviews__switch {
  position: relative;
}
.reviews__switch:before {
  width: 134px;
  height: 194px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/berries4.png) no-repeat;
  bottom: -8.8rem;
  left: -5.3rem;
}

.reviews__switch-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reviews__switch-item {
  margin-right: 1rem;
}
.reviews__switch-item:last-child {
  margin-right: 0;
}

.reviews__switch-item-link, .reviews__switch-item--active {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__switch-item--active {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #365a49;
  border: 6px solid #365a49;
}