.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 4 - 15px);
}
@media screen and (max-width: 768px) {
  .team__item {
    width: auto;
  }
}
.team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6rem 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team__list {
    flex-direction: column;
  }
}
.team__photo {
  width: 100%;
  height: 287px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .team__photo {
    display: none;
    width: 224px;
    height: 288px;
  }
}
@media screen and (max-width: 480px) {
  .team__photo {
    width: 140px;
    height: 180px;
  }
}
.team__name {
  font-size: 1.7rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .team__name {
    margin-bottom: 1.1rem;
  }
}
.team__position {
  font-weight: 500;
}
.team__text {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.team__item:after {
  width: 120px;
  height: 120px;
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/team-berry.png) no-repeat;
  bottom: -14.1rem;
  left: -6.6rem;
  z-index: 5;
}

.team__name::after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 3px;
  border: 5px solid;
  border-bottom: none;
  border-color: #365a49 transparent transparent transparent;
  margin-bottom: 3px;
  will-change: transform;
  transition: 0.5s;
}

.team__name:hover {
  color: #5c76aa;
}

.team__text p {
  color: #666666;
}

.team__item .team__text {
  display: none;
}

.team__item--active .team__text {
  display: block;
}
@media screen and (max-width: 768px) {
  .team__item--active .team__text {
    display: flex;
    flex-direction: column;
    order: 3;
    padding-top: 0;
    width: 40%;
  }
}

.team__item--active .team__name::after {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .team__item--active {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .team__item--active .team__photo {
    display: flex;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .team__item--active .team__name {
    display: flex;
    order: 1;
    margin-bottom: 1.1rem;
  }
}